.info{
    background-color: coral;
    color: darkorchid;
}

/*.oops {
    width: 650px;
    height: 392px;
    background-position: 80% 20%;
    background-image: url(https://images.immediate.co.uk/production/volatile/sites/21/2019/03/bike_crash-1468595091943-1jedfc1vp3hut-1000-100-5a5ea67.jpg?quality=90&resize=768,574);
  }*/ 
  
  /* This was the first way I figured out how to crop the image, but it did weird things when changing the size of the window. Also, I had to remove the <img> from the HTML, which was in the instructions. What was going wrong here? */